.text-field {
  position: relative;
  display: flex;
  align-items: center;
}

.text-field__icon {
  position: absolute;
  left: var(--space-3);
  color: var(--color-input-text-default);
  pointer-events: none;
}

.text-field__input {
  width: 100%;
  height: var(--input-height);
  padding-left: var(--space-3);
  padding-right: var(--space-3);

  border: 1px solid var(--color-input-border);
  background: var(--color-input-bg);
  border-radius: var(--radius-s);
}
