.text-field {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.text-field__icon {
  position: absolute;
  left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-muted);
  pointer-events: none;
}

/* input padding ikon esetén */
.text-field__input {
  width: 100%;
  height: var(--input-height);
  padding: 0 12px;
  border: 1px solid var(--color-input-border);
  background: var(--color-input-bg);
  border-radius: var(--radius-s);
  font-size: 14px;
  color: var(--color-text);
}

.text-field-wrapper.is-floating .text-field__input {
  padding-top: 15px;
}

/* ha van ikon */
.text-field__icon + .text-field__input {
  padding-left: 40px;
}

/* floating label igazítás ikonhoz */
.text-field__floating-label {
  left: 12px;
}

.text-field__icon + .text-field__input + .text-field__floating-label {
  left: 40px;
}
