.chip {
  display: inline-flex;
  align-items: center;
  gap: var(--space-2);
  height: var(--height-xxs);
  padding: 0 8px;
  background: var(--color-chip-bg);
  border: 1px solid var(--color-chip-border, transparent);
  border-radius: var(--radius-full);
  font-size: var(--font-default);
  font-weight: var(--font-weight-bold);
  color: var(--color-chip-text);
}

/* =========================
   LABEL
   ========================= */
.chip__label {
  line-height: 1;
  white-space: nowrap;
}

/* =========================
   REMOVE BUTTON
   ========================= */
.chip__remove {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: var(--width-xxxs);
  height: var(--height-xxxs);

  padding: 0;
  border: none;
  background: transparent;

  color: var(--color-chip-icon);
  cursor: pointer;
}

.chip__remove svg {
  width: var(--width-xxxs);
  height: var(--width-xxxs);
  stroke: currentColor;
  fill: none;
}

/* =========================
   HOVER
   ========================= */
.chip__remove:hover {
  opacity: 1;
}

.chip--active {
  background-color: var(--color-chip-active);
  color: var(--color-chip-active-text);
}

.chip--active .chip__label {
  color: var(--color-chip-active-text);
}

.chip--active .chip__remove {
  color: var(--color-chip-icon-reverse);
}