:root {
  /* =========================
     COLORS
     ========================= */

  --color-bg: #F0F2F3;
  --color-header: #e6ecee;
  --color-header-border: #2D4E58;
  --color-surface: #D8E0E2;
  --color-main: #f8f9fa;

  --color-text: #2D4E58;
  --color-text-muted: #2D4E58;
  --color-text-inverse: #FFFFFF;

  --color-table: #FFFFFF;
  --color-table-hover: #ECF0F2;
  --color-table-border: #E0E8EA;
  --color-table-column-header: #F5F6F7;
  --color-table-chevron: #137897;

  --color-toggle-track: #2D4E58;

  --color-primary: #137897;
  --color-primary-hover: #16a8d5;
  --color-primary-soft: #16a8d5;

  --color-secondary: #ffffff;
  --color-secondary-hover: #137897;
  --color-secondary-soft: #16a8d5;

  --color-input-bg: #ffffff;
  --color-input-border: #b1c3c7;
  --color-input-text-default: #7E9094;
  --color-input-text-focus: #14282F;
  --color-input-text-disabled: #919597;

  --color-success: #14282F;
  --color-warning: #B15E05;
  --color-danger: #CA1520;

  --color-disabled: #bfc2c4;

  --color-toggle-bg: #E0E8EA;
  --color-toggle-bg-on: #137897;

  --shadow-s: 0 1px 4px rgba(0,0,0,0.06);
  --shadow-m: 0 24px 42px rgba(0,0,0,0.1);


    /* =========================
     SIZES
     ========================= */

  --header-height: 64px;
  --sidebar-width: 280px;
  --input-height: 42px;


  /* =========================
     TYPOGRAPHY
     ========================= */

  --font-sans: Roboto, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, monospace;

  --font-h1: 2.25rem;
  --font-h2: 1rem;
  --font-section-title: 1.25rem;
  --font-default: 0.875rem;
  --font-navigation: 1rem;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  /* =========================
     SPACING
     ========================= */

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;

  /* =========================
     RADIUS
     ========================= */

  --radius-xs: 4px;
  --radius-s: 8px;
  --radius-m: 16px;
  --radius-l: 24px;
  --radius-full: 999px;

  /* =========================
     SHADOW
     ========================= */

  --shadow-s: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-m: 0 4px 10px rgba(0, 0, 0, 0.08);

  /* =========================
     Z-INDEX
     ========================= */

  --z-dropdown: 100;
  --z-overlay: 200;
  --z-modal: 300;
}

/* =========================
   DARK MODE
   ========================= */

.dark {
  --color-bg: #020617;
  --color-bg-muted: #020617;
  --color-bg-elevated: #020617;

  --color-text: #e5e7eb;
  --color-text-muted: #94a3b8;

  --color-border: #1e293b;
  --color-border-strong: #334155;

  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
  --color-primary-soft: #1e3a8a;
}
