:root {
/* =========================
   COLORS
   ========================= */

/* BACKGROUND */
  --color-header: #e2e8ea;
  --color-main: #f8f9fa;
  --color-footer: #E0E8EA;
  --color-drawer: #D4DADF;
  --color-product: #f2f7f8;

/* SIDEBAR */
  --color-sidebar: #d5dddf;
  --color-sidebar-hover: #f2f7f8;
  --color-sidebar-border: #c9d3d4;
  --color-sidebar-sublist: #9fb1b7;
  --color-sidebar-section: #60838D;

/* INTENT */
  --color-default: #137897;
  --color-success: #07930A;
  --color-warning: #F09300;
  --color-danger: #CA1520;

/* LABELS, GENERIC COLORS */
  --color-white: #FFFFFF;
  --color-lightblue: #F0F2F3;
  --color-purple: #593a73;
  --color-cyan: #05515b;
  --color-greyblue: #353e53;
  --color-lightblue: #4a6696;

/* ICONS, BORDERS AND TEXTS */
  --color-text: #2D4E58;
  --color-text-section: #6b8790;
  --color-text-description: #496d78;
  --color-separator: #a5b4b9;

/* =========================
   COMPONENTS
   ========================= */

/* TABLE */
  --color-table-hover: #ECF0F2;
  --color-white-border: #E0E8EA;
  --color-white-column-header: #F5F6F7;
  --color-inner-border: #d5e0e2;
  --color-inner-column-header: #e8eeef;
  --color-inner-row: #ffffff;

/* CARD, DIALOG */
  --color-dialog-overlay: rgba(0,0,0,0.35);
  --color-dialog-column: #f5f7f8;
  --color-dialog-divider: #d3dade;
  --color-dialog-footer: #E0E8EA;
  --color-dialog-header-dark: #2D4E58;
  --color-dialog-container: #F6FBFC;

 /* CALLOUT */ 
  --callout-default: #ecf9fc; 
  --callout-success: #ecfaec;
  --callout-warning: #fffaf1;
  --callout-danger: #fdedee;

/* TOGGLE SWITCH */
  --color-toggle-track: #2D4E58;
  --color-toggle-bg: #E0E8EA;
  --color-toggle-bg-on: #137897;

/* BUTTONS */
  --color-primary: linear-gradient(
    45deg,
    #137897 0%,
    #14282F 100%
  );

  --color-primary-hover: linear-gradient(
    135deg,
    #76CCE7 0%,
    #14282F 100%
  );

  --button-primary-active: #137897;
  --button-primary-hover: #0f5f75;
  --button-primary-inverse: #FFFFFF;

  --color-secondary: transparent;
  --color-secondary-border: #137897;
  --color-secondary-hover: #e1ecef;
  --color-disabled: #c4cdd3;

  --color-danger-hover: #e5afb2;
  --color-danger-active:rgb(185, 14, 25);

  --color-warning-hover: #e9a434;
  --color-warning-active: #c27a07;

  --color-success-hover: #26a328;
  --color-success-active: #046005;

  --button-context: #137897;
  --button-context-bg: #dee6e8;
  --button-context-hover: #2D4E58;

  --button-icon: #14282F;
  --button-icon-bg: #FFFFFF;
  --button-icon-hover:
   45deg,
   #137897 0%,
   #14282F 100%;

/* INPUT */
  --color-input-bg: #ffffff;
  --color-input-border: #b1c3c7;
  --color-input-hover: #b1c3c735;
  --color-input-text-default: #7E9094;
  --color-input-text-focus: #14282F;
  --color-input-text-disabled: #919597;
  --color-floating-label: #7e9094;
  --color-input-wrapperbg: #f5f6f7;
  --color-input-text: #5f6b6d;

/* CHECKBOX */
  --color-checkbox-bg: #ffffff;
  --color-checkbox-border: #7E9094;
  --color-checkbox-select: #137897;

/* CHIP */
  --color-chip-bg: #FFFFFF;
  --color-chip-active: #137897;
  --color-chip-active-text: #FFFFFF;
  --color-chip-border: #137897;
  --color-chip-text: #137897;
  --color-chip-icon: #137897;
  --color-chip-icon-reverse: #FFFFFF;

/* LIST */
  --color-list-bg: #f2f7f8;
  --color-list-selected: #f2f7f8;

  /* TAB */
  --color-tab-underline: #137897;

/* =========================
   TYPOGRAPHY
   ========================= */
  --font-sans: Roboto, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, monospace;

  --font-h1: 1.875rem; /* 30px  */
  --font-h2: 0.9375rem; /* 15px  */
  --font-h3: 1.125rem; /* 18px  */
  --font-h4: 1.375rem; /* 22px  */
  --font-section-title: 1.125rem; /* 18px  */
  --font-default: 0.9375rem; /* 15px  */
  --font-input: 0.8125rem; /* 13px  */
  --font-button-default: 1.125rem; /* 18px  */
  --font-navigation: 0.9375rem; /* 15px  */
  --font-big: 6rem; /* 96px  */

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

/* =========================
   SPACING
   ========================= */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;

  /* =========================
   MARGINS, PADDINGS
   ========================= */
  --margin-xs: 6px;
  --margin-s: 8px;
  --margin-m: 12px;
  --margin-l: 16px;
  --margin-xl: 20px;
  --margin-xxl: 24px;

  --padding-xxs: 4px;
  --padding-xs: 6px;
  --padding-s: 8px;
  --padding-m: 12px;
  --padding-l: 16px;
  --padding-xl: 20px;
  --padding-xxl: 24px;
  --padding-xxxl: 36px;

/* =========================
   ICON SIZES
   ========================= */
  --icon-xs: 12px;
  --icon-s: 16px;
  --icon-m: 20px;
  --icon-l: 24px;
  --icon-xl: 32px;

/* =========================
   RADIUS
   ========================= */
  --radius-xs: 4px;
  --radius-s: 8px;
  --radius-m: 16px;
  --radius-l: 24px;
  --radius-full: 999px;

/* =========================
   SIZES
   ========================= */
  --header-height: 64px;
  --sidebar-width: 280px;
  --input-height: 42px;
  --tag-height: 24px;
  --listitem-height: 32px;

  --height-xxxs: 16px;
  --height-xxs: 20px;
  --height-xs: 24px;
  --height-s: 32px;
  --height-m: 42px;
  --height-l: 48px;
  --height-xl: 56px;
  --height-xxl: 64px;

  --width-xxxs: 16px;
  --width-xxs: 20px;
  --width-xs: 24px;
  --width-s: 32px;
  --width-m: 42px;
  --width-l: 48px;
  --width-xl: 56px;
  --width-xxl: 64px;

/* =========================
   SHADOW
   ========================= */
  --shadow-s: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-m: 0 4px 8px rgba(0, 0, 0, 0.08);
  --shadow-l: 0 4px 12px rgba(0, 0, 0, 0.12);
  --shadow-xl: 0 12px 12px rgba(0, 0, 0, 0.16);
  --shadow-xxl: 0 12px 20px rgba(0, 0, 0, 0.16);

/* =========================
   Z-INDEX
   ========================= */
  --z-dropdown: 100;
  --z-overlay: 200;
  --z-modal: 300;
}
