.input-stepper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

/* icon-only buttons */

.input-stepper__button {
  width: 48px;
  height: 48px;
  padding: 0;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  line-height: 1;
}

/* big numeric input */

.input-stepper__input {
  width: 100%;

  border: none;
  background: transparent;

  text-align: center;
  font-size: 96px;
  font-weight: 700;
  line-height: 1;

  outline: none;

  /* remove native spinners */
  appearance: textfield;
}

.input-stepper__input::-webkit-outer-spin-button,
.input-stepper__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}


/* force icon-only button centering */

.input-stepper__button-wrapper button {
  width: 48px;
  height: 48px;
  padding: 0;

  border-radius: 50%;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  line-height: 1;
}
