.select {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.select__icon {
  position: absolute;
  left: var(--space-3);
  color: var(--color-input-text-default);
}

.select__trigger {
  height: var(--input-height);
  padding-left: calc(var(--space-5) + 16px);
  padding-right: var(--space-3);
  border: 1px solid var(--color-input-border);
  background: var(--color-input-bg);
  border-radius: var(--radius-s);
}
