.checkbox {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid var(--color-checkbox-border);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-checkbox-bg);
  background: var(--color-checkbox-bg);
  flex-shrink: 0;
}

.checkbox__icon {
  width: 12px;
  height: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox svg {
  width: 12px;
  height: 12px;
}

.checkbox--checked {
  background: var(--color-checkbox-select);
  border-color: var(--color-checkbox-select);
}

.checkbox--indeterminate {
  background: var(--color-checkbox-select);
  border-color: var(--color-checkbox-select);
}

.checkbox--unchecked {
  background: var(--color-checkbox-bg);
  color: transparent;
}

.checkbox.is-disabled {
  opacity: 0.5;
}
