.empty-state-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 100%;
  margin: 2rem;
}

.empty-state {
  background: #ffffff;
  border-radius: 16px;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;

  max-width: 420px;
  width: 100%;
}

.empty-state__icon {
  width: 56px;
  height: 56px;

  color: #a0b4ba;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-state__icon svg {
  width: 100%;
  height: 100%;
}


.empty-state__title {
  font-size: var(--font-h2);
  font-weight: var(--font-weight-bold);
}

.empty-state__description {
  font-size: var(--font-default);
  color: var(--color-muted);
}
