.ui-card {
  background: #ffffff;
  border: 1px solid #e0e8ea;
  border-radius: 16px;
  padding: 0; /* fontos */
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.08);
  width: 100%;
  overflow: hidden;
}

.ui-card > * {
  padding: 16px;
}

.ui-card > *:first-child {
  border-bottom: 1px solid #e0e8ea;
  display: flex;
  align-items: center;
  gap: 12px;
}

.ui-card > *:not(:first-child) {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
