.ui-card {
  display: flex;
  flex-direction: column;
  background: var(--color-white);
  border: 1px solid var(--color-dialog-footer);
  border-radius: var(--radius-m);
  padding: 0;
  box-shadow: var(--shadow-m);
  width: 100%;
}

.ui-card > * {
  padding: var(--padding-l);
}

.ui-card > .card-header {
  padding: var(--padding-l);
  display: flex;
  align-items: center;
  gap: var(--space-3);
  border-bottom: 1px solid var(--color-dialog-footer);
}

.ui-card > .card-header h3,
.ui-card > *:first-child h3,
.settings-card-title {
  font-size: var(--font-h3);
  font-weight: var(--font-weight-bold);
}

.ui-card > *:first-child {
  padding: var(--padding-l);
  background: var(--color-white);
  color: inherit;
  border-bottom: 1px solid var(--color-dialog-footer);
  border-top-left-radius: var(--radius-m);
  border-top-right-radius: var(--radius-m);
}

.ui-card > *:not(:first-child) {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--space-3);
}

/* =========================
   CARD VARIANTS
   ========================= */
.ui-card--darkHeader > *:first-child {
  background: var( --color-dialog-header-dark);
  color: var(--color-white);
  border-top-left-radius: var(--radius-m);
  border-top-right-radius: var(--radius-m);
  border-bottom: none;
}

.ui-card--darkHeader > *:first-child h3 {
  color: var(--color-white);
}


/* =========================
   SCAN INPUT CARD VARIANT
   ========================= */

.ui-card--scanInput {
  border-radius: var(--radius-m);
  border: 1px solid var(--color-white-border);
  overflow: hidden;
  padding: 0;
}

.ui-card--scanInput > * {
  border: none;
  padding: 0;
}

.ui-card--scanInput .card-header,
.ui-card--scanInput .card-header--editable {
  background: transparent;
  border-bottom: none;
  padding: 0;
  border: none;
}


.card--full-height {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.card--full-height .card-content {
  flex: 1;
  min-height: 0;
}



.ui-card--metric {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ui-card__metric-header {
  display: flex;
  align-items: center;
  font-size: var(--font-default);
  color: var(--color-text-muted);
}

.ui-card__metric-title {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  font-size: var(--font-h3);
  font-weight: var(--font-weight-bold);
  color: var(--color-text);
}

.ui-card__metric-value {
  font-size: 34px;
  font-weight: var(--font-weight-bold);
  color: var(--color-text);
  display: flex;
  flex-wrap: row;
  align-items: baseline;
  padding-top: var(--space-3);
  padding-bottom: var(--space-1);
}

.ui-card__metric-sub {
  font-size: 14px;
  color: var(--color-text-muted);
}

.ui-card__metric-trend {
  font-size: 13px;
  color: var(--color-success);
  padding-top: var(--space-1);
}

.ui-card__metric-footer {
  font-size: var(--font-default);
  color: var(--color-text-muted);
  margin-top: auto;
  padding-top: var(--space-3);
}
