.scan-input {
  display: flex;
  gap: var(--space-3);
  align-items: center;
  padding: var(--padding-l);
  border-radius: var(--radius-m);
  background-color: var(--color-input-bg);
  border: 1px solid var(--color-white-border);
  box-shadow: var(--shadow-m);
}

.scan-input-card {
  width: 100%;
}

.scan-input__field {
  flex: 1;
  min-width: 0;
  border-radius: var(--radius-m);
}

.scan-input__field .text-field {
  width: 100%;
}
