.scan-input {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 16px;
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid #E0E8EA;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.08);

}

.scan-input-card {
  width: 100%;
}

.scan-input__field {
  flex: 1;
  min-width: 0;
  border-radius: 16px;
}

.scan-input__field .text-field {
  width: 100%;
}
