/* =========================
   BASE
   ========================= */
.split-button {
  display: inline-flex;
  position: relative;
  align-items: stretch;

  min-width: 185px;
  gap: 2px;
}

/* =========================
   BUTTONS
   ========================= */
.split-button__primary,
.split-button__toggle {
  height: var(--height-m);
  font-size: var(--font-default);
  font-weight: 600;

  background: transparent;
  color: var(--color-default);

  border: 2px solid var(--color-default);
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
}

/* PRIMARY */
.split-button__primary {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;

  flex: 1 1 auto;
  min-width: 0;

  height: var(--height-m);
  padding: var(--padding-xs) var(--padding-m);

  font-size: var(--font-default);
  font-weight: 600;

  background: var(--button-primary-inverse);
  color: var(--color-default);

  border: 2px solid var(--color-default);

  border-top-right-radius: var(--radius-xs);
  border-bottom-right-radius: var(--radius-xs);
  border-top-left-radius: var(--radius-full);
  border-bottom-left-radius: var(--radius-full);

  cursor: pointer;
}


/* TOGGLE */
.split-button__toggle {
  flex: 0 0 42px; 
  width: var(--width-m);
  padding: 0;

  background: var(--button-primary-inverse);
  
  border-left: 2px solid var(--color-default);

  border-top-left-radius: var(--radius-xs);
  border-bottom-left-radius: var(--radius-xs);
  border-top-right-radius: var(--radius-full);
  border-bottom-right-radius: var(--radius-full);
}

.split-button__toggle svg {
  transition: transform 150ms ease;
}

.split-button__toggle.is-open svg {
  transform: rotate(180deg);
}

/* =========================
   HOVER
   ========================= */
.split-button__primary:hover,
.split-button__toggle:hover {
  background: var(--color-secondary-hover);
}

/* =========================
   SELECTED
   ========================= */
.split-button__primary.is-selected,
.split-button__toggle.is-selected {
  background: var(--color-default);
  color: var(--color-white);
}

/* =========================
   MENU
   ========================= */
.split-button__menu {
  position: absolute;
  top: calc(100% + 6px);
  right: 0;
  z-index: 2000;
  min-width: 200px;
  background: var(---color-white);
  border: 2px solid var(--color-default);
  border-radius: var(--radius-s);

  box-shadow: var(--shadow-xl);
  overflow: hidden;
}

.split-button__menu-item {
  width: 100%;
  padding: 10px var(--padding-m);

  display: flex;
  align-items: center;
  gap: 10px;

  font-size: var(--font-default);
  font-weight: 600;
  color: var(--color-default);

  cursor: pointer;
  box-sizing: border-box;
}

.split-button__menu-item input {
  cursor: pointer;
}

.split-button__menu-item:hover {
  background: var(--color-secondary-hover);
}
