.tag {
  display: inline-flex;
  align-items: center;
  height: var(--tag-height);

  padding: 0 12px;
  border-radius: 4px;

  font-size: var(--font-default);
  font-weight: var(--font-weight-medium);
  line-height: 1;

  white-space: nowrap;
}

/* =========================
   VARIANTS
   ========================= */

.tag--default {
  background: var(--color-default);
  color: var(--color-text-inverse);
}

.tag--success {
  background: var(--color-success);
  color: var(--color-text-inverse);
}

.tag--warning {
  background: var(--color-warning);
  color: var(--color-text-inverse);
}

.tag--danger {
  background: var(--color-danger);
  color: var(--color-text-inverse);
}


.tag--inbound {
  background: #5CC5D5;
  color: #14282F;
}

.tag--outbound {
  background: #8E44AD;
  color: #fff;
}

.tag--inventory {
  background: #D252A1;
  color: #fff;
}

.tag--research {
  background: #F7DC6F;
  color: #623D00;
}