/* =========================
   BASE
   ========================= */
.tag {
  display: inline-flex;
  align-items: center;
  height: var(--tag-height);
  padding: 0 var(--padding-m);
  border-radius: var(--radius-xs);
  font-size: var(--font-default);
  font-weight: var(--font-weight-medium);
  line-height: 1;
  white-space: nowrap;
}

/* =========================
   VARIANTS
   ========================= */
.tag--default {
  background: var(--color-default);
  color: var(--color-white);
}

.tag--success {
  background: var(--color-success);
  color: var(--color-white);
}

.tag--warning {
  background: var(--color-warning);
  color: var(--color-white);
}

.tag--danger {
  background: var(--color-danger);
  color: var(--color-white);
}

.tag--inbound {
  background: #5CC5D5;
  color: #14282F;
}

.tag--outbound {
  background: #8E44AD;
  color: #fff;
}

.tag--inventory {
  background: #D252A1;
  color: #fff;
}

.tag--research {
  background: #623D00;
  color: #fff;
}

.tag--mismatch {
  background: #661b45;
  color: #fff;
}

.tag--expired {
  background: #66431b;
  color: #fff;
}

.tag--missing {
  background: #66581b;
  color: #fff;
}

.tag--location {
  background: #415873;
  color: #fff;
}

.tag--damaged {
  background: #5c4173;
  color: #fff;
}

.tag--outlined {
  background: transparent;
  color: var(--color-default);
  border: 1.5px solid var(--color-default);
}