/* ===== SHELL ===== */

.data-table-shell {
  padding: 1rem;
  overflow: visible;
}

/* ===== ROOT CARD ===== */

.data-table {
  background: var(--color-table);
  border-radius: var(--radius-m);
  border: 1px solid var(--color-table-border);
  box-shadow: var(--shadow-m);

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

/* ===== HEADER ===== */

.data-table__header {
  background-color: var(--color-table-header);
  padding: var(--space-3);
  border-bottom: 1px solid var(--color-table-border);
}

/* ===== CONTENT ===== */

.data-table__content {
  overflow-x: auto;
}

/* ===== TABLE ===== */

.data-table table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th,
.data-table td {
  padding: var(--space-3);
  font-size: var(--font-size-s);
  text-align: left;
  border-bottom: 1px solid var(--color-table-border);
  background-color: var(--color-table);
}

.data-table th {
  font-weight: 500;
  background-color: var(--color-table-header, #f5f6f7);
}

.data-table tbody tr:last-child td {
  border-bottom: none;
}

/* ===== FOOTER ===== */

.data-table__footer {
  display: flex;
  justify-content: space-between;
  padding: var(--space-3);
  background-color: var(--color-table);
  border-top: 1px solid var(--color-table-border);
}
