.radio {
  width: var(--width-xxxs);
  height: var(--height-xxxs);
  border-radius: 50%;
  border: 2px solid var(--color-default);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.radio::after {
  content: "";
  width: var(--radius-s);
  height: var(--radius-s);
  border-radius: 50%;
  background: var(--color-default);
  opacity: 0;
}

.radio.is-checked::after {
  opacity: 1;
}

.radio.is-disabled {
  opacity: 0.5;
}
